body {
    background-color: rgb(50, 159, 168);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    -webkit-text-stroke: 0.5px;
    -webkit-text-stroke-color: black;
}